/* CSS Document */

@media (max-width: 800px) {
	#revPatientHeadline{
		float:none;
		text-align:center
	}
	.revThumbLaunchCon{
		text-align:center;
	}
}

/* BA Image Containers */
.revBArow{
	margin-bottom:20px;
}

.revBAcol{
	float:left;
	width:100%;
	text-align:center;
}

.revBAcol1{
	float:left;
	width:48%;
	margin-right:4%;
	text-align:center;
}

.revBAcol2{
	float:left;
	width:48%;
	text-align:center;
}

.revBAcol1-3{
	float:left;
	width:32%;
	text-align:center;
}

.revBAcol2-3{
	float:left;
	width:32%;
	margin-right:2%;
	margin-left:2%;
	text-align:center;
}

.revBAcol3-3{
	float:left;
	width:32%;
	text-align:center;
}

.revBAcol img, .revBAcol1 img, .revBAcol2 img, .revBAcol1-3 img, .revBAcol2-3 img, .revBAcol3-3 img {
	width:100%;
	margin-bottom: 25px;
}

#revBAcontainer{
	position:relative;
	width:100%;	
} 

/* Gallery navigation */
#revGalleryNav{
	list-style:none;
	margin:20px 0;
	padding:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#revThumbGalleryNav{
	list-style:none;
	margin:20px 0;
	padding:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:inline-block;
}
#revThumbnailConDiv{
	text-align:center;
}
#myFavsHeader {
    float: right;
    max-width: 280px;
    text-align: right;
	margin-left: 40px;
}

img#myFavsLogo {
    /* text-align: right; */
    display: inline-block;
    max-width: 150px;
}

#myFavsHeader p {
    margin-top: 0;
}
.revThumbLaunchCon {
    margin: 40px 0;
}
.revCopyright{
	float:right;
	font-size: 11px;
}
@media (max-width: 800px) {
	#myFavsHeader{float: none; text-align: center; max-width: 100%; margin-left: 0;}
	
	.revCopyright{
		text-align: center;
		margin:40px 0;
		float:none;
		font-size: 11px;
	}
	#revGalleryNav{
		float:none;
		display:inline-block;
	}
	#revGalleryHeader{
		text-align:center;
	}
}
#revGalleryNav li, #revThumbGalleryNav li{
	float:left;
	padding:4px;
	list-style:none;
	
}
#revGalleryNav li a, #revThumbGalleryNav li a{
	text-decoration:none;
	color:#666;
	padding:4px 8px;
	border:solid 1px #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
#revGalleryNav li a:hover, #revThumbGalleryNav li a:hover{
	color:#fff;
	background-color:#ccc;
}
.baNavHighlight{
	background:#666;
	color:#fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}


/* Patient Details */
#revPatientDetails{
	clear: both;
}

#revPatientDetailsList{
	float:left;
	margin-right:30px;
	list-style:none;
}

#revPatientDetailsList2{
	float:left;
	list-style:none;
}




/* Thumbnails */
#revThumbnails{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
#revThumbnails li{
	display:inline-block;
	height:100px; 
	margin:10px;
}
#revThumbnails li a{
		display:table;
}
#revThumbnails li span{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	height:100px;
	width:100px;
	
}
#revThumbnails li img{
	margin:0 3px;
}
#revThumbnailsDiv{
	display:none;
}





/* Category Landing Page */
#revCategoryImageSets
{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 2em 0;
  list-style-type: none;
}

#revCategoryImageSets li.revDoubleCol
{
  float: left;
  width: 50%;
  padding: 10px;
  margin: 0;
 border: 1px solid #efefef;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#revCategoryImageSets li.revSingleCol
{
  float: left;
  width: 100%;
  padding: 10px;
  margin: 0;
 border: 1px solid #efefef;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.revCatCol1, .revCatCol2{
	float: left;
  width: 50%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.revCatCol2, .revCatImageSet .revCatCol2 h2{
	text-align: left;
}

#revCategoryImageSets li span
{
  display: block;
  width: 48%;
  overflow: hidden;
  float: left;
  margin:0 1%;
}

#revCategoryImageSets img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

#revCategoryImageSets li.revDoubleCol span
{
  position: relative;
  height: 0;
  padding-top: 48%;
  /*padding-top: 24%;*/
}

#revCategoryImageSets li.revSingleCol span
{
  position: relative;
  height: auto;
  padding-top: 0%;
  /*padding-top: 24%;*/
}

#revCategoryImageSets li span.revCatImageSetCenter
{
	width: 98%;
	
}
.revCatImageSetCenter img{
	left:0;
	right:0;
}

#revCategoryImageSets li.revDoubleCol img
{
  position: absolute;
 /* left: 0;
  right: 0;*/ 
  top: 0;
  bottom: 0;
}

#revCategoryImageSets li.revSingleCol img
{
  position: relative;
 /* left: 0;
  right: 0;*/ 
  top: 0;
  bottom: 0;
}

.revCatImageSetLeft img{
	right: 0;
}

.revCatImageSetRight img{
	left: 0;
}

.revCatImageSet h2{
	margin: 0 0 10px 0;
	text-align:center;
}

@media (max-width: 800px) {
	#revCategoryImageSets li, #revCategoryImageSets li.revDoubleCol
{
  width: 100%;
}
	
	.revCatCol1, .revCatCol2{
		float:none;
		text-align: center;
		width: 100%;
	}
	
	.revCatImageSet .revCatCol2 h2{
		text-align: center;
	}
	
}


.revSlideImageSetLeft{width:45%; margin:0 1% 0 4%; display: inline-block;}
.revSlideImageSetRight{width:45%; margin:0 4% 0 1%; display: inline-block;}

.revSlideImageSet h2{
	font-size: 16px;
	margin: 20px 4% !important;
}

.revSlideImageSet p, .revSlideCaseViewLink{
	font-size: 14px;
	margin: 20px 4%;
}

.revDetailsDiv{
	border: 1px solid #ccc;
	margin: 20px 10px !important;
	padding: 20px 10px !important;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	background-color: #fff;
}


/* General Styles */
.clearfixer{
	clear:both;
}


/* Sharrre Plugin Style */

.sharrre .button {
	background:none;
	border-radius:none;
	padding:0;
	text-transform:none;
	text-decoration:none;
display:inline-block;
  width:100px;
  margin-top:10px;
  height:20px;
}
.sharrre .button:hover {
	background:none;
}
.sharrre .buttons {
	text-align:center;
}


/**
 * Lightcase - jQuery Plugin
 * The smart and flexible Lightbox Plugin.
 *
 * @author		Cornel Boppart <cornel@bopp-art.com>
 * @copyright	Author
 *
 * @version		2.5.0 (11/03/2018)
 */

@font-face {
  font-family: 'lightcase';
  src: url("fonts/lightcase.eot?55356177");
  src: url("fonts/lightcase.eot?55356177#iefix") format("embedded-opentype"), url("fonts/lightcase.woff?55356177") format("woff"), url("fonts/lightcase.ttf?55356177") format("truetype"), url("fonts/lightcase.svg?55356177#lightcase") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../scss/components/fonts/_font-lightcase.scss */
[class*='revlightcase-icon-']:before {
  font-family: 'lightcase', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* Codes */
/* line 35, ../scss/components/fonts/_font-lightcase.scss */
.revlightcase-icon-play:before {
  content: '\e800';
}

/* line 36, ../scss/components/fonts/_font-lightcase.scss */
.revlightcase-icon-pause:before {
  content: '\e801';
}

/* line 37, ../scss/components/fonts/_font-lightcase.scss */
.revlightcase-icon-close:before {
  content: '\e802';
}

/* line 38, ../scss/components/fonts/_font-lightcase.scss */
.revlightcase-icon-prev:before {
  content: '\e803';
}

/* line 39, ../scss/components/fonts/_font-lightcase.scss */
.revlightcase-icon-next:before {
  content: '\e804';
}

/* line 40, ../scss/components/fonts/_font-lightcase.scss */
.revlightcase-icon-spin:before {
  content: '\e805';
}

/**
 * Mixin providing icon defaults to be used on top of font-lightcase.
 *
 * Example usage:
 * @include icon(#e9e9e9)
 */
/**
 * Mixin providing icon defaults including a hover status to be used
 * on top of font-lightcase.
 *
 * Example usage:
 * @include icon-hover(#e9e9e9, #fff)
 */
/**
 * Provides natural content overflow behavior and scrolling support
 * even so for touch devices.
 *
 * Example usage:
 * @include overflow()
 */
/**
 * Neutralizes/resets dimensions including width, height, position as well as margins,
 * paddings and styles. Used to enforce a neutral and unstyled look and behavoir!
 *
 * Example usage:
 * @include clear(true)
 *
 * @param boolean $important
 */
@-webkit-keyframes revlightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes revlightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes revlightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes revlightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes revlightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 1, ../scss/components/modules/_case.scss */
#revlightcase-case {
  display: none;
  position: fixed;
  z-index: 100005;
  top: 50%;
  left: 50%;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 640px) {
  /* line 16, ../scss/components/modules/_case.scss */
  html[data-revlc-type=inline] #revlightcase-case, html[data-revlc-type=ajax] #revlightcase-case {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    padding: 55px 0 70px 0;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
  }
}

@media screen and (min-width: 641px) {
  /* line 4, ../scss/components/modules/_content.scss */
  html:not([data-revlc-type=error]) #revlightcase-content {
    position: relative;
    z-index: 1;
    text-shadow: none;
    background-color: transparent;
    -webkit-backface-visibility: hidden;
  }
}
@media screen and (min-width: 641px) {
  /* line 23, ../scss/components/modules/_content.scss */
  html[data-revlc-type=image] #revlightcase-content, html[data-revlc-type=video] #revlightcase-content {
    background-color: transparent;
  }
}
/* line 31, ../scss/components/modules/_content.scss */
html[data-revlc-type=inline] #revlightcase-content, html[data-revlc-type=ajax] #revlightcase-content, html[data-revlc-type=error] #revlightcase-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 640px) {
  /* line 31, ../scss/components/modules/_content.scss */
  html[data-revlc-type=inline] #revlightcase-content, html[data-revlc-type=ajax] #revlightcase-content, html[data-revlc-type=error] #revlightcase-content {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}
/* line 43, ../scss/components/modules/_content.scss */
html[data-revlc-type=inline] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=ajax] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=error] #revlightcase-content .revlightcase-contentInner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  /* line 43, ../scss/components/modules/_content.scss */
  html[data-revlc-type=inline] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=ajax] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=error] #revlightcase-content .revlightcase-contentInner {
    padding: 15px;
  }
  /* line 52, ../scss/components/modules/_content.scss */
  html[data-revlc-type=inline] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=inline] #revlightcase-content .revlightcase-contentInner > *, html[data-revlc-type=ajax] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=ajax] #revlightcase-content .revlightcase-contentInner > *, html[data-revlc-type=error] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=error] #revlightcase-content .revlightcase-contentInner > * {
    width: 100% !important;
    max-width: none !important;
  }
  /* line 59, ../scss/components/modules/_content.scss */
  html[data-revlc-type=inline] #revlightcase-content .revlightcase-contentInner > *:not(iframe), html[data-revlc-type=ajax] #revlightcase-content .revlightcase-contentInner > *:not(iframe), html[data-revlc-type=error] #revlightcase-content .revlightcase-contentInner > *:not(iframe) {
    height: auto !important;
    max-height: none !important;
  }
}
@media screen and (max-width: 640px) {
  /* line 70, ../scss/components/modules/_content.scss */
  html.revlightcase-isMobileDevice[data-revlc-type=iframe] #revlightcase-content .revlightcase-contentInner iframe {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 640px) and (min-width: 641px) {
  /* line 74, ../scss/components/modules/_content.scss */
  html[data-revlc-type=image] #revlightcase-content .revlightcase-contentInner, html[data-revlc-type=video] #revlightcase-content .revlightcase-contentInner {
    line-height: 0.75;
  }
}

/* line 82, ../scss/components/modules/_content.scss */
html[data-revlc-type=image] #revlightcase-content .revlightcase-contentInner {
  position: relative;
  overflow: hidden !important;
}
@media screen and (max-width: 640px) {
  /* line 91, ../scss/components/modules/_content.scss */
  html[data-revlc-type=inline] #revlightcase-content .revlightcase-contentInner .revlightcase-inlineWrap, html[data-revlc-type=ajax] #revlightcase-content .revlightcase-contentInner .revlightcase-inlineWrap, html[data-revlc-type=error] #revlightcase-content .revlightcase-contentInner .revlightcase-inlineWrap {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}
@media screen and (min-width: 641px) {
  /* line 100, ../scss/components/modules/_content.scss */
  html:not([data-revlc-type=error]) #revlightcase-content .revlightcase-contentInner .revlightcase-inlineWrap {
    padding: 30px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 640px) {
  /* line 117, ../scss/components/modules/_content.scss */
  #revlightcase-content h1, #revlightcase-content h2, #revlightcase-content h3, #revlightcase-content h4, #revlightcase-content h5, #revlightcase-content h6, #revlightcase-content p {
    color: #aaa;
  }
}
@media screen and (min-width: 641px) {
  /* line 117, ../scss/components/modules/_content.scss */
  #revlightcase-content h1, #revlightcase-content h2, #revlightcase-content h3, #revlightcase-content h4, #revlightcase-content h5, #revlightcase-content h6, #revlightcase-content p {
    color: #333;
  }
}

/* line 3, ../scss/components/modules/_error.scss */
#revlightcase-case p.revlightcase-error {
  margin: 0;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa;
}
@media screen and (max-width: 640px) {
  /* line 3, ../scss/components/modules/_error.scss */
  #revlightcase-case p.revlightcase-error {
    padding: 30px 0;
  }
}
@media screen and (min-width: 641px) {
  /* line 3, ../scss/components/modules/_error.scss */
  #revlightcase-case p.revlightcase-error {
    padding: 0;
  }
}

/* line 4, ../scss/components/modules/_global.scss */
.revlightcase-open body {
  overflow: hidden;
}
/* line 8, ../scss/components/modules/_global.scss */
.revlightcase-isMobileDevice .revlightcase-open body {
  max-width: 100%;
  max-height: 100%;
}

/* line 1, ../scss/components/modules/_info.scss */
#revlightcase-info {
  position: absolute;
  padding-top: 15px;
}
/* line 9, ../scss/components/modules/_info.scss */
#revlightcase-info #revlightcase-title,
#revlightcase-info #revlightcase-caption {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: normal;
  text-overflow: ellipsis;
}
/* line 19, ../scss/components/modules/_info.scss */
#revlightcase-info #revlightcase-title {
  font-size: 17px;
  color: #aaa;
}
@media screen and (max-width: 640px) {
  /* line 19, ../scss/components/modules/_info.scss */
  #revlightcase-info #revlightcase-title {
    position: fixed;
    top: 10px;
    left: 0;
    max-width: 87.5%;
    padding: 5px 15px;
    background: transparent;
  }
}
/* line 33, ../scss/components/modules/_info.scss */
#revlightcase-info #revlightcase-caption {
  clear: both;
  font-size: 13px;
  color: #aaa;
}
/* line 39, ../scss/components/modules/_info.scss */
#revlightcase-info #revlightcase-sequenceInfo {
  font-size: 11px;
  color: #aaa;
}
@media screen and (max-width: 640px) {
  /* line 45, ../scss/components/modules/_info.scss */
  .revlightcase-fullScreenMode #revlightcase-info {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 51, ../scss/components/modules/_info.scss */
  html:not([data-revlc-type=image]):not([data-revlc-type=video]):not([data-revlc-type=flash]):not([data-revlc-type=error]) #revlightcase-info {
    position: static;
  }
}

/* line 1, ../scss/components/modules/_loading.scss */
#revlightcase-loading {
  position: fixed;
  z-index: 100006;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  position: fixed;
  z-index: 100006;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  opacity: 1;
  font-size: 32px;
  text-shadow: 0 0 15px #fff;
  -moz-transform-origin: 50% 53%;
  -webkit-animation: revlightcase-spin 0.5s infinite linear;
  -moz-animation: revlightcase-spin 0.5s infinite linear;
  -o-animation: revlightcase-spin 0.5s infinite linear;
  animation: revlightcase-spin 0.5s infinite linear;
}
/* line 20, ../scss/components/mixins/_presets.scss */
#revlightcase-loading, #revlightcase-loading:focus {
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color, opacity, ease-in-out 0.25s;
  -moz-transition: color, opacity, ease-in-out 0.25s;
  -o-transition: color, opacity, ease-in-out 0.25s;
  transition: color, opacity, ease-in-out 0.25s;
}
/* line 32, ../scss/components/mixins/_presets.scss */
#revlightcase-loading > span {
  display: inline-block;
  text-indent: -9999px;
}

/* line 2, ../scss/components/modules/_navigation.scss */
a[class*='revlightcase-icon-'] {
  position: fixed;
  z-index: 100006;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;

  text-shadow: none;
  outline: none;
  cursor: pointer;
}
/* line 20, ../scss/components/mixins/_presets.scss */
a[class*='revlightcase-icon-'], a[class*='revlightcase-icon-']:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color, opacity, ease-in-out 0.25s;
  -moz-transition: color, opacity, ease-in-out 0.25s;
  -o-transition: color, opacity, ease-in-out 0.25s;
  transition: color, opacity, ease-in-out 0.25s;
}
/* line 32, ../scss/components/mixins/_presets.scss */
a[class*='revlightcase-icon-'] > span {
  display: inline-block;
  text-indent: -9999px;
}
/* line 49, ../scss/components/mixins/_presets.scss */
a[class*='revlightcase-icon-']:hover {
  color: white;
  text-shadow: 0 0 15px white;
}
/* line 10, ../scss/components/modules/_navigation.scss */
.revlightcase-isMobileDevice a[class*='revlightcase-icon-']:hover {
  color: #aaa;
  text-shadow: none;
}
/* line 17, ../scss/components/modules/_navigation.scss */
a[class*='revlightcase-icon-'].revlightcase-icon-close {
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: auto;
  margin: 0;
  opacity: 0;
  outline: none;
}
/* line 28, ../scss/components/modules/_navigation.scss */
a[class*='revlightcase-icon-'].revlightcase-icon-prev {
  left: 15px;
}
/* line 33, ../scss/components/modules/_navigation.scss */
a[class*='revlightcase-icon-'].revlightcase-icon-next {
  right: 15px;
}
/* line 38, ../scss/components/modules/_navigation.scss */
a[class*='revlightcase-icon-'].revlightcase-icon-pause, a[class*='revlightcase-icon-'].revlightcase-icon-play {
  left: 50%;
  margin-left: -0.5em;
}
@media screen and (min-width: 641px) {
  /* line 38, ../scss/components/modules/_navigation.scss */
  a[class*='revlightcase-icon-'].revlightcase-icon-pause, a[class*='revlightcase-icon-'].revlightcase-icon-play {
    opacity: 0;
  }
}
@media screen and (max-width: 640px) {
  /* line 2, ../scss/components/modules/_navigation.scss */
  a[class*='revlightcase-icon-'] {
    bottom: 15px;
    font-size: 24px;
  }
}
@media screen and (min-width: 641px) {
  /* line 2, ../scss/components/modules/_navigation.scss */
  a[class*='revlightcase-icon-'] {
    bottom: 50%;
    margin-bottom: -0.5em;
  }
  /* line 57, ../scss/components/modules/_navigation.scss */
  a[class*='revlightcase-icon-']:hover, #revlightcase-case:hover ~ a[class*='revlightcase-icon-'] {
    opacity: 1;
  }
}

/* line 1, ../scss/components/modules/_overlay.scss */
#revlightcase-overlay {
  display: none;
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100000;
  top: -9999px;
  bottom: -9999px;
  left: 0;
  background: #fff;
}
@media screen and (max-width: 640px) {
  /* line 1, ../scss/components/modules/_overlay.scss */
  #revlightcase-overlay {
    opacity: 1 !important;
  }
}


/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.revcboxIE #revcboxTopLeft,
.revcboxIE #revcboxTopCenter,
.revcboxIE #revcboxTopRight,
.revcboxIE #revcboxBottomLeft,
.revcboxIE #revcboxBottomCenter,
.revcboxIE #revcboxBottomRight,
.revcboxIE #revcboxMiddleLeft,
.revcboxIE #revcboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}


/* Slider */

.revSlick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.revSlick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.revSlick-list:focus
{
    outline: none;
}
.revSlick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.revSlick-slider .revSlick-track,
.revSlick-slider .revSlick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.revSlick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.revSlick-track:before,
.revSlick-track:after
{
    display: table;

    content: '';
}
.revSlick-track:after
{
    clear: both;
}
.revSlick-loading .revSlick-track
{
    visibility: hidden;
}

.revSlick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .revSlick-slide
{
    float: right;
}
.revSlick-slide img
{
    display: block;
}
.revSlick-slide.revSlick-loading img
{
    display: none;
}
.revSlick-slide.dragging img
{
    pointer-events: none;
}
.revSlick-initialized .revSlick-slide
{
    display: block;
}
.revSlick-loading .revSlick-slide
{
    visibility: hidden;
}
.revSlick-vertical .revSlick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.revSlick-arrow.revSlick-hidden {
    display: none;
}

/* ///////////// revSlick Theme ///////////////////////////// */


.revSlick-loading .revSlick-list
{
    background: #fff url('/fonts/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/slick.eot');
    src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}


/* Arrows */
.revSlick-prev,
.revSlick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.revSlick-prev:hover,
.revSlick-prev:focus,
.revSlick-next:hover,
.revSlick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.revSlick-prev:hover:before,
.revSlick-prev:focus:before,
.revSlick-next:hover:before,
.revSlick-next:focus:before
{
    opacity: 1;
}
.revSlick-prev.revSlick-disabled:before,
.revSlick-next.revSlick-disabled:before
{
    opacity: .25;
}

.revSlick-prev:before,
.revSlick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #c0c0c0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.revSlick-prev
{
    left: -25px;
}
[dir='rtl'] .revSlick-prev
{
    right: -25px;
    left: auto;
}
.revSlick-prev:before
{
    content: '←';
}
[dir='rtl'] .revSlick-prev:before
{
    content: '→';
}

.revSlick-next
{
    right: -25px;
}
[dir='rtl'] .revSlick-next
{
    right: auto;
    left: -25px;
}
.revSlick-next:before
{
    content: '→';
}
[dir='rtl'] .revSlick-next:before

{
    content: '←';
}

/* Dots */
.revSlick-dotted.revSlick-slider
{
    margin-bottom: 30px;
}

.revSlick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.revSlick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.revSlick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.revSlick-dots li button:hover,
.revSlick-dots li button:focus
{
    outline: none;
}
.revSlick-dots li button:hover:before,
.revSlick-dots li button:focus:before
{
    opacity: 1;
}
.revSlick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.revSlick-dots li.revSlick-active button:before
{
    opacity: .75;
    color: black;
}
@media  (max-width : 800px) {
	.revSlick-dots{display: none !important;}
	.revSlideImageSetRight{width:90%;margin:0 5%;}
	.revSlideImageSetLeft{width:90%;margin:0 5%;}
	.revSlick-prev{left:-15px;}
	.revSlick-next{right: -15px;}
	
}

/* //////////// Four Column Display Styles /////////////// */
#bbmenu h2 {padding-top:0 !important;}
#bbmenu img{width:100%;}
#bbmenu ul {padding:0 !important;}
#bbmenu ul li {list-style-type:none;}
#bbmenu ul li a {text-decoration:none;}
#bbface {width:100%; float:left;margin-bottom: 20px;}
#bbbreast {width:100%; float:left;margin-bottom: 20px;}
#bbbody {width:100%; float:left;margin-bottom: 20px;}
#bbskin {width:100%; float:left;margin-bottom: 20px;}
@media (min-width : 481px) and (max-width : 767px) {
#bbface {width:48%;margin-right:2%;}
#bbbreast {width:48%;margin-left:2%;}
#bbbody {width:48%;margin-right:2%;clear:both;}
#bbskin {width:48%;margin-left:2%;}
}
@media (min-width : 768px) {
#bbface {width:23.5%;margin-right:2%;}
#bbbreast {width:23.5%;margin-right:2%;}
#bbbody {width:23.5%;margin-right:2%;}
#bbskin {width:23.5%;}
}

.revlightcase-inlineWrap {overflow:scroll;}

